.alvi1{
  background-color: green;
  height: 50vh;
  width: 45vw;
}
.alvi2{
  display: flex;
  justify-content: center;
  padding-top: 8vh;
}
.alvi3{
  background-color: red;
  height: 30vh;
  width: 15vw;
  border: 50px;
  border-radius: 100px;
}